@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  font-family: poppins, sans-serif;
  height: 100vh;
}

.nav-items {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
}

.nav-logo {
  border-radius: 4rem;
  padding: 1rem;
  border: 1px solid black;
  text-decoration: none;
}

.nav-link {
  text-decoration: none;
}

.active {
  text-decoration: underline;
}

.f-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}
