@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* font sizes */
  --fs-1: 1rem;
  --fs-2: 1.6rem;
  --fs-3: 2rem;
  --fs-4: 2.5rem;
  --fs-5: 3rem;
  --fs-6: 4rem;

  /* Colors */
  --bg-1: #e4e4e4;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
}

button {
  outline: none;
  background: none;
  border: 1px solid #000;
  font-size: var(--fs-2);
  display: block;
  padding: var(--fs-2);
  font-family: 'Poppins', sans-serif;
  width: 100%;
  cursor: pointer;
  border-radius: var(--fs-1);
}

button:hover {
  background-color: var(--bg-1);
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

i {
  cursor: pointer;
}

i:hover {
  color: red;
}

i:active {
  color: green;
}

/* ---------------------------*\
        Header
\*--------------------------- */

.nav-items {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
}

.nav-logo {
  border-radius: 4rem;
  padding: 1rem;
  border: 1px solid black;
  text-decoration: none;
}

.nav-link {
  text-decoration: none;
}

.active {
  text-decoration: underline;
}

.f-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

/* ---------------------------*\
        Main list
\*--------------------------- */
.cards {
  font-size: var(--fs-4);
  display: flex;
  flex-wrap: wrap;
  gap: var(--fs-6);
  justify-content: center;
}

.card {
  flex-basis: 300px;
  display: flex;
  flex-direction: column;
  gap: var(--fs-2);
  padding: var(--fs-2);
  background-color: #eee;
  border-radius: var(--fs-2);
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.7);
}

.card__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
  border-radius: var(--fs-2);
}

.card__img:hover {
  transform: scale(1.1);
}

.card__desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__likes {
  display: inline-block;
  width: 100%;
  text-align: end;
  font-size: var(--fs-2);
}

.card__likes.success {
  color: green;
}

.display__none {
  display: none;
}

.fa-times {
  font-size: x-large;
  display: flex;
  justify-content: end;
  margin-bottom: 1rem;
}

.pop-up-details {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.comment-item {
  list-style: none;
}

form {
  display: flex;
  flex-direction: column;
}
